{{!-- Previous/next page links - only displayed on page 2+ --}}
<div class="extra-pagination inner">
    {{pagination}}
</div>
<div class="row">
{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 blog-list-item" style="background-image:url('{{image absolute:true}}'); background-size:cover;">     
    <div class="blog-list-item-content">
        <div class="title">
            <h1>{{title}}</h1>
        </div>
        <div class="pub-date">
            {{date format="DD MMMM YYYY"}}
         </div><br />
         <a class="btn" href="{{url}}">
            Read more
        </a>
    </div>
</div>  
{{/foreach}}
</div>
<div class="row col-xs-12">
{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}
</div>