<div class="nav">
    
    <ul style="padding:0;" class="hidden-sm hidden-xs">
        {{#foreach navigation}}
            <li class="nav-link nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    
        {{#if @labs.subscribers}}
        <li class="nav-link nav-subscribe" role="presentation">
        <a class="subscribe-button" href="{{@blog.url}}/subscribe/">Subscribe</a>
        </li>
    {{else}}
    	<li class="nav-link nav-subscribe" role="presentation">
        <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
        </li>
    {{/if}}
    </ul>

</div>
<span class="nav-cover"></span>
