{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- If we have a tag cover, display that - else blog cover - else nothing --}}
<!-- Pre-content header section -->
<!-- Mobile-nav -->
<div class="row mobile-nav hidden-md hidden-lg" id="mobile-nav">
        <a href="#" class="nav-close" id="menu-close">
            <span class="glyphicon glyphicon-remove white close" aria-hidden="true"></span>
        </a>
        {{navigation}}
        <ul class="mobile-social-links">
            <li class="social-icon" id="twitter">
                <a href="https://twitter.com/MattMadeContent"><img src="{{asset "/social-icons/twitter.svg"}}" width="64px" height="64px" /></a>
            </li>
            <li class="social-icon" id="facebook">
                <a href="https://www.facebook.com/MattMadeLife/"><img src="{{asset "/social-icons/facebook.svg"}}" width="64px" height="64px" /></a>
            </li>
            <li class="social-icon" id="linkedin">
                <a href="https://www.linkedin.com/in/mattaunger"><img src="{{asset "/social-icons/linkedin.svg"}}" width="64px" height="64px" /></a>
            </li>
            <li class="social-icon" id="pinterest">
                <a href="https://uk.pinterest.com/MattAunger/"><img src="{{asset "/social-icons/pinterest.svg"}}" width="64px" height="64px" /></a>
            </li>
            <li class="social-icon" id="instagram">
                <a href="https://www.instagram.com/mattmadelife/"><img src="{{asset "/social-icons/instagram.svg"}}" width="64px" height="64px" /></a>
            </li>
        </ul>
</div>
<div class="row main-header">
<a href="#" class="nav-close hidden-md hidden-lg" id="menu-open">
        <span class="glyphicon glyphicon-menu-hamburger white hamburger" aria-hidden="true"></span>
</a>
    <!-- End mobile nav -->
<div class="row main-header">
    <div class="col-md-5 text-center social-links">
        <ul class="hidden-sm hidden-xs">
            <li class="social-icon" id="twitter">
                <a href="https://twitter.com/MattMadeContent"><img src="{{asset "/social-icons/twitter.svg"}}" width="64px" height="64px" /></a>
            </li>
            <li class="social-icon" id="facebook">
                <a href="https://www.facebook.com/MattMadeLife/"><img src="{{asset "/social-icons/facebook.svg"}}" width="64px" height="64px" /></a>
            </li>
            <li class="social-icon" id="linkedin">
                <a href="https://www.linkedin.com/in/mattaunger"><img src="{{asset "/social-icons/linkedin.svg"}}" width="64px" height="64px" /></a>
            </li>
            <li class="social-icon" id="pinterest">
                <a href="https://uk.pinterest.com/MattAunger/"><img src="{{asset "/social-icons/pinterest.svg"}}" width="64px" height="64px" /></a>
            </li>
            <li class="social-icon" id="instagram">
                <a href="https://www.instagram.com/mattmadelife/"><img src="{{asset "/social-icons/instagram.svg"}}" width="64px" height="64px" /></a>
            </li>
        </ul>
    </div>
    <div class="col-md-2 text-center">
        <div class="logo">
        {{#if @blog.logo}}
        <a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" width="1rem" /></a>
        {{else}}
        <a class="blog-logo href="{{@blog.url}}"><span class="logo-icon glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span></a>
        {{/if}}
        </div>
    </div>
    <div class="col-md-5 text-left">
        {{navigation}}
    </div>
</div>
</div>

    <div class="row col-xs-12">
        {{#tag}}
        <div class="col-sm-8 col-sm-offset-1">
            <h1 class="page-title" style="text-transform:uppercase;"><span style="color:#FFD04D;">Tag:</span>{{name}}</h1>
        </div>
        {{/tag}}
    </div>


{{!-- The main content area on the homepage --}}
<main class="content" role="main">

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

</main>
